/* pulse in SVG */
svg.pulse-svg {
    overflow: visible;
  }
  .first-pulse-circle, .second-pulse-circle, .third-pulse-circle {
      overflow: visible;
    fill: gold;
    transform: scale(0.5);
    transform-origin: center center;
    animation: pulse-me 3s linear infinite;
  }
  .second-pulse-circle {
    animation-delay: 1s;
  }
   .third-pulse-circle {
    animation-delay: 2s;
  }
  
  
@keyframes pulse-me{
	0%{
		transform: scale(0.5);
		opacity: 0;
	}
	50%{
		opacity: 0.3;
	}
	70%{
		opacity: 0.09;
	}
	100%{
		transform: scale(5);
		opacity: 0;
	}
}