.signup-icon {
  display: inline-block;
}

.signup-icon-svg {
  display: inline-block;
  vertical-align: middle;
  padding-right: 1.2em;
}

.signup-text {
  font-size: 1em;
}

.signup-subtext {
  font-size: 0.7em !important;
  color: rgba(255, 255, 255, 0.65);
  fill: rgba(255, 255, 255, 0.65);
}

.signup-svg {
  width: 1.8em;
  height: 1.8em;
  /* fill: #fff; */
}

.signup-container {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 0;
  min-height: 100vh;
}

.signup-button {
  display: block;
  margin: 0 auto 10px;
  width: 100%;
  height: 58px;
  border: 0;
  font-size: 16px;
  text-align: left;
  padding-left: 18px;
  max-width: 456px;
  cursor: pointer;
}
.signup-button-labelset {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  text-align: left;
}

.signup-button-label {
  display: block;
  font-size: 16px;
  text-align: left;
}

.signup-button-twitter {
  background-color: #55acee;
  color: white;
}
.signup-button-twitter:hover {
  background-color: #6fb9f1;
}
.signup-button-facebook {
  background-color: #3b5998;
  color: white;
}
.signup-button-facebook:hover {
  background-color: #4365ad;
}

.signup-button-google {
  background-color: white;
  color: rgba(0, 0, 0, 0.68);
  border-radius: 1px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
}
.signup-button-google:hover {
  background-color: lightgrey;
}

.signup-button-email {
  background-color: rgb(240, 236, 236);
  color: rgba(0, 0, 0, 0.68);
  border-radius: 1px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
}
.signup-button-email:hover {
  background-color: lightgrey;
}

.signup-button-twitter,
.signup-button-facebook,
.signup-button-twitter:hover,
.signup-button-facebook:hover {
  transition: background-color 0.3s ease;
}
